body {
  background-color: #131619;
  height: 100vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
